<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/admin-board.html}"><head>
    <title>Leave History</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<style>
body {
	font-family: Arial, sans-serif;
	background-color: #d8efd3;
}
 .header {
	color: #000;
	text-align: left;
	margin-bottom: 20px;
}

.brand-title {
	font-size: 26px;
	
}
</style>
</head>

<body layout:fragment="content" >
   	<div class="container mt-4">
			<header class="header">
				<h2 class="brand-title" style="color: #000;">Leave
					History</h2>
					<h6 style="color:#000;" class="text-muted d-none d-lg-block mt-3">Here're your
						leave records</h6>
			</header>
        <table class="table table-striped mt-5">
            <thead>
                <tr>
                    <th>Apply At</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Leave Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Remark</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="leaveApplication : ${leaveHistory}" >
                    <td th:text="${leaveApplication.applyAt}"></td>
                    <td th:text="${leaveApplication.employee.account.name}"></td>
                    <td th:text="${leaveApplication.department.name}"></td>
                    <td th:text="${leaveApplication.type.name}"></td>
                    <td th:text="${leaveApplication.startDate}"></td>
                    <td th:text="${leaveApplication.endDate}"></td>
                    <td th:text="${leaveApplication.remark}"></td>
                    <td th:text="${leaveApplication.status}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
