<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/admin-board.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section layout:fragment = "content">
		<header class="margin-left" th:fragement="header">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="m-4">
                            <h1 class="text-white d-lg-inline mb-4">Team Members</h1>
                        </div>
                        <div class="flex-fill"></div>
                        
                       
		</nav>
		</header>
		
		  <div class="row px-5 mt-4">
		  
                    <div class="col-9 form-group search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Search for team members" style="background-color: #2d3340;">
                    </div>
                    
                     <div class="col-3">
                     <a th:href="@{/member/edit}">
                        	<button type="button" class="btn btn-outline-info" style="height: 50px"><i class="fa-sharp fa-solid fa-plus fa-xl"></i> </button>
                       </a>
                        </div>
                    

           </div>
           
                           <div  class="mt-5 px-4 mx-3  " style="margin-left: 0px;">
                    <div th:if="${not #lists.isEmpty(list)}" class="tbl-container bdr   custom-border" >
                        <!-- <== overflow: hidden applied to parent -->
                        <table  class="table table-hover table-responsive-sm table-borderless" style="padding: auto;">
                            <thead class="bg-member">
                                <tr class="custom-border">

                                    <th scope="col" style="width: 3%; color: white;">Name</th>
                                    <th scope="col" style="width: 3%; color: white;">Email</th>
                                    <th scope="col" style="width: 3%; color: white;">Phone</th>
                                    <th scope="col" style="width: 3%; color:white;">Salary</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="custom-border" th:each="member : ${list}">
                                    <td th:text="${member.name}"></td>
                                    <td th:text="${member.email}"></td>
                                    <td th:text="${member.phone}"></td>
									<td th:text="${member.salary}"></td>
                                    
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                    </div>
		
	</section>
</body>
</html>