<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/admin-board.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <link  rel="stylesheet" th:href="@{/css/form.css}" >
</head>
<body>
	<section layout:fragment = "content">
		<header class="margin-left" th:fragement="header">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="m-4">
                            <h1 class="text-white d-lg-inline mb-4">Members</h1>
                        </div>
                        <div class="flex-fill"></div>
                        
                       
		</nav>
		</header>
	    <div class="row ">
            <div class="col-md-5 col-9">
		<div class="card">
                   
                    <div class="card-content">
                        <div class="card-body">
                            <form th:action="@{/member}" th:object="${form}" method="post">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" id="name" th:field="*{name}" class="form-control custom-form-control"
                                                    name="fname" placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" id="email" th:field="*{email}" class="form-control custom-form-control"
                                                    name="email" placeholder="Email">
                                                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: aqua;">Incorrect email</p>
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input type="password" id="password" th:field="*{password}" class="form-control custom-form-control"
                                                    name="password" placeholder="Password">
                                            </div>
                                        </div>
                                        
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="phone">Phone</label>
                                                <input type="tel" id="phone" class="form-control custom-form-control"
                                                    name="phone" th:field="*{phone}" placeholder="Phone">
                                            </div>
                                        </div>
                                        
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="salary">Salary</label>
                                                <input type="number" id="salary" class="form-control custom-form-control"
                                                    name="salary" th:field="*{salary}" placeholder="Salary">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class='form-check'>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="checkbox3" class='form-check-input'
                                                        checked>
                                                    <label for="checkbox3">Remember Me</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                            <button type="reset"
                                                class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
               </div>
               </div>
	</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  // Check for changes in input fields
  $(document).ready(function() {
    $('.custom-form-control').on('input', function() {
      if ($(this).val() !== '') {
        $(this).addClass('autofilled');
      } else {
        $(this).removeClass('autofilled');
      }
    });
  });
</script>
</body>
</html>