<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>


<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/app.css}">
<link rel="stylesheet" th:href="@{/css/sidebar.css}">

<style>
.checkbox-column {
	display: none;
}
</style>
<script>
	
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#department').change(function() {
        var departmentCode = $(this).val();
        if(departmentCode) {
            $.ajax({
                url: '/positions/codes',
                type: 'GET',
                data: {
                    department: departmentCode
                },
                success: function(data) {
                    var $positionCode = $('#positionCode');
                    $positionCode.empty();
                    $positionCode.append('<option value="">Select Position Code</option>');
                    $.each(data, function(index, code) {
                        $positionCode.append($('<option>', {
                            value: code,
                            text: code
                        }));
                    });
                },
                error: function() {
                    alert('Error fetching position codes.');
                }
            });
        } else {
            $('#positionCode').empty();
            $('#positionCode').append('<option value="">Select Position Code</option>');
        }
    });
    
    // Trigger change event if department is already selected
    var selectedDepartment = $('#department').val();
    if(selectedDepartment) {
        $('#department').trigger('change');
    }
});
        function initializeCheckboxes() {
            var checkboxes = document.getElementsByClassName('checkbox-column');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].style.display = 'none';
            }
        }

        function toggleCheckboxes() {
            var checkboxes = document.getElementsByClassName('checkbox-column');
            var allHidden = true;
            var selectButton = document.getElementById('select-button');

            // Check if all checkboxes are currently hidden
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].style.display !== 'none') {
                    allHidden = false;
                    break;
                }
            }

            // Toggle visibility based on the current state
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].style.display = allHidden ? 'table-cell' : 'none';
            }

            // Highlight the select button if checkboxes are visible
            if (allHidden) {
                selectButton.classList.add('btn-select-active');
            } else {
                selectButton.classList.remove('btn-select-active');
            }

            // Check if any checkboxes are selected
            checkSelected();
            
            
        }
        

        function checkSelected() {
            var checkboxes = document.querySelectorAll('.checkbox-column input[type="checkbox"]:checked');
            var deleteButton = document.getElementById('delete-button');
            var createButton = document.getElementById('create-button');
            deleteButton.style.display = checkboxes.length > 0 ? 'flex' : 'none';
            createButton.classList.toggle('btn-create-hidden', checkboxes.length > 0);
            createButton.classList.toggle('btn-create-show', checkboxes.length < 0);

        }

        function submitDeleteForm() {
            var checkboxes = document.querySelectorAll('.checkbox-column input[type="checkbox"]:checked');
            var selectedIds = Array.from(checkboxes).map(cb => cb.value);
            var form = document.getElementById('delete-form');
            var input = document.getElementById('employee-ids');
            input.value = selectedIds.join(',');
            form.submit();
        }

        window.onload = initializeCheckboxes;
        
        document.addEventListener("DOMContentLoaded", function() {
            const navContainer = document.querySelector('.nav-container');
            const sidebar = document.querySelector('.sidebar');

            if (navContainer && sidebar) {
                navContainer.addEventListener('click', function () {
                    navContainer.classList.toggle('is-active');
                    sidebar.classList.toggle('show');
                });
            }
        });
        
	</script>





</head>

<style>
.custom-row {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px !important;
}

.title {
	text-align: center;
	position: absolute;
	top: 8px;
	left: 5px;
	font-family: sans-serif;
	font-size: 26px;
	color: #000;
	margin: 0;
}
</style>
<body>
	<div class="container-fluid">

		<div class="custom-row row">


			<div class="nav-container d-lg-none" tabindex="0">

				<div class="nav-toggle"></div>
				<div class="nav-toggle"></div>
				<div class="nav-toggle"></div>


			</div>

			<h1 class="d-inline d-lg-none d-md-none title">TIME-OFF</h1>


		</div>


		<!--Main content-->

		<nav class="col-2">
			<div th:replace="~{fragments/sidebar :: sidebar}"></div>

		</nav>

		<main class="col-10 ">

			<div layout:fragment="content">
				<!--dynamic content-->
				<!--you can replace this using page-->
			</div>
		</main>


	</div>
	</div>

</body>

</body>
<script src=" https://kit.fontawesome.com/79c067b319.js"
	crossorigin="anonymous">
    </script>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

</html>