<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>


<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/app.css}">
<link rel="stylesheet" th:href="@{/css/sidebar.css}">

<style>
.checkbox-column {
	display: none;
}
</style>
<script>
	
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
        $(document).ready(function() {
            $('#department').click(function() {
                var departmentCode = $(this).val();
                $.ajax({
                    url: '/positions/codes',
                    type: 'GET',
                    data: {
                        department: departmentCode
                    },
                    success: function(data) {
                        var $positionCode = $('#positionCode');
                        $positionCode.empty();
                        $positionCode.append('<option value="">Select Position Code</option>');
                        $.each(data, function(index, code) {
                            $positionCode.append($('<option>', {
                                value: code, // Assuming code is the PositionCode enum name
                                text: code // Assuming value is the enum name for simplicity
                            }));
                        });
                    },
                    error: function() {
                        alert('Error fetching position codes.');
                    }
                });
            });
        });
        function initializeCheckboxes() {
            var checkboxes = document.getElementsByClassName('checkbox-column');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].style.display = 'none';
            }
        }

        function toggleCheckboxes() {
            var checkboxes = document.getElementsByClassName('checkbox-column');
            var allHidden = true;
            var selectButton = document.getElementById('select-button');

            // Check if all checkboxes are currently hidden
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].style.display !== 'none') {
                    allHidden = false;
                    break;
                }
            }

            // Toggle visibility based on the current state
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].style.display = allHidden ? 'table-cell' : 'none';
            }

            // Highlight the select button if checkboxes are visible
            if (allHidden) {
                selectButton.classList.add('btn-select-active');
            } else {
                selectButton.classList.remove('btn-select-active');
            }

            // Check if any checkboxes are selected
            checkSelected();
            
            
        }
        

        function checkSelected() {
            var checkboxes = document.querySelectorAll('.checkbox-column input[type="checkbox"]:checked');
            var deleteButton = document.getElementById('delete-button');
            var createButton = document.getElementById('create-button');
            deleteButton.style.display = checkboxes.length > 0 ? 'inline-block' : 'none';
            createButton.classList.toggle('btn-create-hidden', checkboxes.length > 0);
            createButton.classList.toggle('btn-create-show', checkboxes.length < 0);

        }

        function submitDeleteForm() {
            var checkboxes = document.querySelectorAll('.checkbox-column input[type="checkbox"]:checked');
            var selectedIds = Array.from(checkboxes).map(cb => cb.value);
            var form = document.getElementById('delete-form');
            var input = document.getElementById('employee-ids');
            input.value = selectedIds.join(',');
            form.submit();
        }

        window.onload = initializeCheckboxes;
		
        
	</script>
        
    
   


</head>

<style>

</style>
<body>
	<div class="container-fluid">

		<div class="row ">
			<!--Main content-->

			<nav class="col-2">
				<span th:replace="~{fragments/sidebar :: sidebar}"></span>

			</nav>

			<main class="col-10">

				<div layout:fragment="content">
					<!--dynamic content-->
					<!--you can replace this using page-->
				</div>
			</main>


		</div>
	</div>

</body>

</body>
<script src=" https://kit.fontawesome.com/79c067b319.js"
	crossorigin="anonymous">
    </script>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

</html>