<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<section layout:fragment="sidebar" >
	
    <nav th:fragment="sidebar"  class="sidebar ">
    	
        <div class="brand">
            <img th:src="@{/images/Eru.jpg}" class="brand-logo" alt="Profile Picture">
            <span class="brand-name">Linn</span>
        </div>
        
     
        <ul class="menu-items">
            <li>
                <a th:href="@{/home}" th:classappend="${page == 'home' ? 'active' : ''}" class="menu-item">
                    <i class="fas fa-home"></i>
                    <span>Requests</span>
                </a>
            </li>
            <li>
                <a th:href="@{/departments}" th:classappend="${page == 'departments' ? 'active' : ''}" class="menu-item">
                    <i class="fa-solid fa-building"></i>
                    <span>Department</span>
                </a>
            </li>
            <li>
                <a th:href="@{/employees}" th:classappend="${page == 'employees' ? 'active' : ''}" class="menu-item">
                    <i class="fas fa-users"></i>
                    <span>Employees</span>
                </a>
            </li>
            <li>
                <a th:href="@{/positions}" th:classappend="${page == 'positions' ? 'active' : ''}" class="menu-item">
                    <i class="fas fa-chart-line"></i>
                    <span>Positions</span>
                </a>
            </li>
            <li>
                <a th:href="@{/reports}" th:classappend="${page == 'reports' ? 'active' : ''}" class="menu-item">
                    <i class="fas fa-flag"></i>
                    <span>Reports</span>
                </a>
            </li>
            <li>
                <a th:href="@{/settings}" th:classappend="${page == 'settings' ? 'active' : ''}" class="menu-item">
                    <i class="fa-solid fa-bars"></i>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </nav>
    </section>
</html>
