<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<section layout:fragment="sidebar">

	<nav th:fragment="usersidebar" class="sidebar ">

		<div class="brand">
            <span class="brand-name" style="color: dark;">TIME-OFF</span>
        </div>
        


		<ul class="menu-items">
			<li><a th:href="@{/home}"
				th:classappend="${page == 'home' ? 'active' : ''}" class="menu-item">
					<i class="fas fa-home"></i> <span>Requests</span>
			</a></li>
			<li><a th:href="@{/leave-application}"
				th:classappend="${page == 'form' ? 'active' : ''}" class="menu-item">
					<i class="fa-solid fa-plus"></i> <span>Leave Form</span>
			</a></li>
			<li>
			<li><a th:href="@{/reports}"
				th:classappend="${page == 'reports' ? 'active' : ''}"
				class="menu-item"> <i class="fa-solid fa-coins"></i> <span>Salaries</span>
			</a></li>

		</ul>
	</nav>
</section>
</html>
