.card{
    background: linear-gradient(90deg,rgb(6, 0, 10) 0%, rgb(6, 0, 0) 35%,  rgb(2, 8, 15) 100%);
    border-radius: 20px;
    
}

.form-control{
	line-height: 2;
	margin: 5px;
	color: black;
	border: 2px solid  rgb(77, 55, 200) ;
	border-radius: 10px;
;
}

label{
	color: aliceblue;
	margin:5px;
	margin-top: 10px;
}

.custom-form-control:focus {
     background-color: rgb(255, 255, 255); /* Default background color */
    color: black; /* Default text color */
	border: 2px solid   rgb(128, 255, 255) ;
	border-radius: 10px;  }
  
  

