@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

body{
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(132, 124, 123) 35%,  rgb(2, 8, 15) 100%);
    font-family: 'Poppins', sans-serif;

}
.user_img
{
  width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    background-color: #ccc; /* Change background color */
    border-radius: 50%; /* Make it round */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img{
	width: 80%;
	height: 80%;
	background-position: center;
}

form{
    border-radius: 20px;
    margin-top: 150px ;
    width: 24% !important;
    background-color: rgb(2, 8, 15)  !important;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.btn-primary{
    width: 60%;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, rgb(128, 128, 128) 0%, rgba(75,14,154,1) 35%, rgb(0, 0, 0) 100%);
    transition: all 0.2s ease;
    margin-left: 20%;
}
.btn-primary:active{
    transform: scale(0.93);
}
.form-control{
    color: rgb(128, 128, 128);
    border-bottom-color: rgba(0,0,0,.42);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    }
 h4{
    font-size: 2rem !important;
    font-weight: 700;
    color: aqua;
 }  
 .form-label{
    font-weight: 800 !important;
    color: aliceblue;
 }
 

@media screen and (max-width: 1200px) {
	form {
    width: 30% !important;
    } 
} 


 @media screen and (max-width: 900px) {
	form {
    width: 40% !important;
    } 
}	

 @media screen and (max-width: 768px) {
	form {
    width: 50% !important;
    } 
}

@media only screen and (max-width: 600px) {
    form {
    width: 70% !important;
    }
    
  }
  
   @media only screen and (max-width: 400px) {
    form {
    width: 80% !important;
    }
    
  }
 
