table {
    line-height: 3;
}

th {
    color: rgba(51, 52, 52, 0.948);
}



td {
    color: rgba(131, 169, 217, 0.948);
}

td,
th {
    padding-left: 4rem !important;
    padding-right: 0rem !important;
    text-align: left;
    margin: 0rem !important;
}

.bdr {
    border-radius: 10px;
    overflow: auto;

}


.tbl-container {
    width: 100;
    background-color: rgb(2, 8, 15);

    box-shadow: 0px 0px 8px 5px rgb(27, 28, 28);

}



.bg-red {
    background-color: rgb(139, 206, 254);
    color: white;
}

.bg-member{
	background: linear-gradient(90deg, rgba(75,14,154,1) 0%, rgba(75,14,154,1) 35%, rgb(0, 0, 0) 100%);
	color: white;
}



.custom-border {
    border: 1px solid rgb(48, 186, 204);

}

.last-row {
    line-height: 2.1;
    padding-top: 5px;
}



.button-3d {
    background-color: rgb(8, 211, 252);
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0px 0px 10px -10px rgba(18, 181, 250, 0.4);
    cursor: pointer;
    -webkit-moz-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms
}

.btn-outline-dark:hover {
    box-shadow: 0px 0px 20px -10px rgb(4, 223, 243);
    -webkit-moz-transform: translate(0px, -1px) scale(1);
    transform: translate(0px, -1px) scale(1);
    background-color: rgb(16, 62, 91);
}

@media (max-width: 576px) {
    .bdr {
        border-radius: 6px;
        overflow-x: scroll;

    }


}